/* global styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  background-color: #fafafa;
}

h1 {
  font-family: 'Lobster Two', cursive;
}

a {
  color: #3897f0;
  text-decoration: none;
}

button {
  color: white;
  background-color: #3897f0;
  border: none;
  font-size: 14px;
  width: 100px;
  height: 33px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  transition: background-color 500ms;
}

button:hover {
  background-color: #68aef0;
  cursor:pointer!important;
}
/* header styles */ 

header {
  background-color: white;
  height: 33px;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}

header h1 {
  float: left;
}

.header-links {
  float: right;
}

header button {
  margin-right: 24px;
}

header ul {
  line-height: 33px;
}

header ul li {
  display: inline;
  margin-left: 10px;
}

header button, header ul {
  float: left;
}

/* profile section styles */
.profile {
  width: 680px;
  margin: 0 auto;
  padding: 40px 20px;
}

.profile h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  float: left;
  margin-right: 40px;
}

/* gallery styles */

.gallery {
  width: 700px;
  margin: 0 auto;
  overflow: auto;
}

.image-container {
  width: 218px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: black;
  border: 1px solid #dbdbdb;
}

.image-container:nth-child(3n+3) {
  margin-right: 0;
}

.gallery img {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  transition: opacity 300ms;
}

.gallery img:hover{
  opacity: 0.55;
}

.likes {
  background-color: white;
  display: block;
  padding-top: 4px;
  padding-left: 4px;
  width: 214px;
}

.liked {
  background-color: pink;
}

.red {
  color: red;
}

/* footer styles */
footer {
  padding: 20px;
  border-top: 1px solid lightgrey;
}

@media screen and (max-width: 698px ) {
  header, .profile, .gallery, footer {
/*    border: 1px solid magenta; */
   width: calc(100% - 40px);
  }
  .image-container {
    margin-right: 0px;
    width: calc(50% - 12px);
  }
  .image-container:nth-child(2n+1) {
    margin-right: 20px;
  }
  .likes {
    width: calc(100% - 4px);
  }
}

@media screen and (min-width: 898px) {
  header, .profile, .gallery, footer {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
  }
  .image-container {
    width: calc(33.33% - 16px);
  }
  .likes {
    width: calc(100% - 4px);
  }
}




.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #ad3128;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
